<h1>Tags</h1>

<table>
  <tr>
    <th>Tags</th>

  </tr>
  <% for tag in @tags %>
  <tr>
    <td><a href="/tags/<%= tag.id %>"><%= tag.name %></td>

  </tr>
  <% end %>
</table>
<a href="/tags/new">Create a new tag</a>
