

<form method="post" action="/tags">
  <label for="name">Name:</label>
  <input id="name" type ="text" name="name" required = "required"/>




  <input type="submit" value="Create New Category" />
</form>
