
<section class="main">
<h2>Where does it all go? </h2>
</section>

</header>
<ul class="menu">
  <li>
  <button class="spend"> <a href="/transactions/new">Add Transaction</a></button></li>
  <li><button class="color"><a href="transactions/tags">Category breakdown</a></button></li>
  <li><button class="color"><a href="/merchants">merchants</a></button></li>
  <li><button class="color"><a href="/transactions">Overview transactions</a></button></li>


</ul>
<div>

</div>
<footer></footer>
