
<header>
<h2>Where does it all go? </h2>
<ul class="menu">
  <li><a href="transactions/tags">tags</a></li>
  <li><a href="/merchants">merchants</a></li>
  <li><a href="/transactions">Overview transactions</a></li>


</ul>
</header>

<div>
<hr>


<hr>
</div>
<button class="w3-button w3-hover-red"> <a href="/transactions/new">Add Transacion</a></button>
</footer>
