
<header>
<h2>Where does it all go? </h2>
<ul>
  <li><a href="/tags">tags</a></li>
  <li><a href="/merchants">merchants</a></li>
  <li><a href="/transactions">Overview transactions</a></li>
</ul>
</header>

<div>
<hr>

<br>


<hr>
</div>


<footer><a href="/transactions/new">Add transaction</a></footer>
