<!DOCTYPE html>
<html>
<head>
  <title>

  Spendid

  </title>

<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<header>
<a href="/"><h1 class="spendid">Spendid </h1></a>
  <button class="spend"><a href="/transactions/new">Add transaction</a></button>  <div class = "total">Total spendid : £<%=Transaction.total_spend() %> </div>

 </header>
<body>


  <nav>
  <!--  links go here -->
  <ul>
    <li><button class="color"><a href="/transactions">Overview Transactions</a></button></li>
    <li><button class="color"><a href="/transactions/tags">Category Breakdown</a></button></li>
    <li><button class="color"><a href="/tags">Categories</a></button></li>
    <li><button class="color"><a href="/tags/new">Add a New Category</a></button></li>
    <li><button class="color"><a href="/merchants">View Merchants</a></button></li>
    <li> <button class="color"><a href="/merchants/new">Add a New Merchant</a> </button> </a></li>
  </ul>


  </nav>
  <main>
  <%= yield %>
  </main
</body>

<footer></footer>

</html>
