<!DOCTYPE html>
<html>
<head>
  <title>

  Spendid

  </title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans|PT+Serif" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<header>
<a href="/"><h1 class="spendid">Spendid </h1></a> <div>
  <button class="spend"><a href="/transactions/new">Add transaction</a></button> </div> <div class = "total">Total spendid : £<%=Transaction.total_spend() %> </div>

 </header>
<body>

  
  <nav>
  <!--  links go here -->
    <button class="color"><a href="/tags">categories</a></button>
    <button class="color"><a href="/merchants">merchants</a></button>
    <button class="color"><a href="/transactions">transactions</a></button>




  </nav>
  <main>
  <%= yield %>
  </main
</body>

<footer></footer>

</html>
