<!DOCTYPE html>
<html>
<head>
  <title>

  Spendid

  </title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<header>
<a href="/"><h1>Spendid </h1></a> <a href="/transactions/new">Add transaction</a> Total spendid : £<%=Transaction.total_spend() %>       <div class="quick add"> <a href="transactions/quick">Quick Add </a> </div>

 </header>
<body>

  <hr>
  <nav>
  <!--  links go here -->
  <a href="/tags">tags</a>
  <a href="/merchants">merchants</a>
  <a href="/transactions">transactions</a>


  </nav>
  <main>
  <%= yield %>
  </main
</body>

<footer></footer>

</html>
