<!DOCTYPE html>
<html>
<head>
  <title>

  Spendid

  </title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
</head>
<body>
  <hr>
  <nav>
  <!--  links go here -->
  <a href="/tags">tags</a>
  <a href="/merchants">merchants</a>
  <a href="/">LOGOHOME</a>

  </nav>
  <main>
  <%= yield %>
  </main
</body>

</html>
