<!DOCTYPE html>
<html>
<head>
  <title>

  Spendid

  </title>
  <!-- <link rel="stylesheet" href="/style.css"> -->
<link rel="stylesheet" type="text/css" href="/styles/buttons.css">
<link rel="stylesheet" type="text/css" href="/styles/forms.css">
<link rel="stylesheet" type="text/css" href="/styles/structure.css">
<link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<header>
<a href="/"><h1 class="spendid">Spendid </h1></a> <a href="/transactions/new">Add transaction</a> Total spendid : £<%=Transaction.total_spend() %>

 </header>
<body>

  <hr>
  <nav>
  <!--  links go here -->
  <a href="/tags">categories</a>
  <a href="/merchants">merchants</a>
  <a href="/transactions">transactions</a>




  </nav>
  <main>
  <%= yield %>
  </main
</body>

<footer></footer>

</html>
