<nav class="transaction">
<ul>
  <li><button class="color"><a href="/transactions">Order by newest transaction first </a></button></li>
  <li><button class="color"><a href="/transactions/oldest_first">Order by oldest transaction first </a></button></li>
  <li><button class="color">
  <a href="/transactions/yesterday">yesterday </a></button></li>
  <li><button class="color"><a href="/transactions/last_week"> last week </a></button></li>
  <li><button class="color"><a href="/transactions/last_month">last month </a></button></li>
  <li><button class="color">
  <a href="/transactions/tags">category breakdown </a></button></li>
</ul></nav>
