<h1>Merchants</h1>
<button class="new"><a href="/merchants/new">Create a new merchant</a> </button> </a>

<table>
  <tr>
    <th>Name</th>
    <th>logo</th>

  </tr>

  <% for merchant in @merchants %>
  <tr>
    <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name() %></td>
    <td> <img src="<%= merchant.logo %>" alt="<%=merchant.name()%>'s logo'">
    </a></td>
  </tr>

  <% end %>
 </table>
<a href="/merchants/new">Create a new merchant</a> -->
