
<% x = ["./images/logos/abstract.jpeg"] %>


<form method="post" action="/merchants">
  <label for="name">Name:</label>
  <input id="name" type ="text" name="name" required = "required"/>

  <label for="logo-select">Company Logo:</label>
  <select id="logo-select" name="logo">
    <option value=" "> None </option>
    <% x.each do |num| %>
    <option value='<%= num %>'> <%=num.sub("./images/logos/","").chomp(".png").chomp(".jpeg")  %> </option>
    <% end  %>



  </select>


  <input type="submit" value="Create New Merchant" />
</form>


<img src="/images/logos/1.png" alt="">
