
<% x = ["/images/logos/abstract.jpeg"] %>



<form method= "post" action="/merchants/image" enctype="multipart/form-data">
<label for="name">Name:</label>
<input id="name" type ="text" name="name" required = "required"/>
<input type="file" name="file" accept="image/*">
<input type="submit" value="upload logo">
</form>

<form method="post" action="/merchants">
  <label for="name">Name:</label>
  <input id="name" type ="text" name="name" required = "required"/>

  <label for="logo-select">Company Logo:</label>
  <select id="logo-select" name="logo">
    <datalist id="defaultURLs">
      <option value="/images/logos/abstract.jpeg">default</option>

</datalist>
  </select>



  <input type="submit" value="Create New Merchant" />
</form>


<img src="/images/logos/1.png" alt="">
