
<form method="post" action="/merchants">
  <label for="name">Name:</label>
  <input id="name" type ="text" name="name" required = "required"/>

  <label for="logo-select">Company Logo:</label>
  <select id="logo-select" name="logo">
  <input id="logo" type="url" placeholder="enter logo url"
  </select>


  <input type="submit" value="Create New Merchant" />
</form>
