* {
    box-sizing: border-box;
}

body {

background: #EFFFE9;


}

a {
  text-decoration: none;
}

header {

  background-color: #2EC4B6;

}

.spendid {


  vertical-align: top;
  color: #A593EO;
  font-weight: 900;
  font-family: "PT Serif";
  margin-left: 0.25em;
  text-decoration: underline;


}

.pretty {
  color: #A593EO;
  font-weight: 900;
  font-family: "PT Serif";
  text-decoration: underline;
  margin-left: 0.25em;


}

nav ul {
  list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;


}

nav ul li {
 float: left;

}

nav ul li a {
   display: block;
   padding: 16px;
   text-decoration: none;

}

ul .transaction-options {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

ul .transaction-options li {

  float: left ;
}

ul .transaction-options li a {
  display: block;
  padding: 16px;
  text-decoration: none;

}


.total {
font-family: monospace;
position: relative;
width: 20%;
display: inline-block;
float: right;
text-align: right;
padding: 10px;

}

img {
  position: relative;
  float: left;
  width:  50% ;
  max-width: 30%;
  height: 30%;

}




ul  {
  width: 100%;
  list-style-type: none;



}

ul li{

  text-align: center;

}


.menu button {
  border: none;
  padding: 14px 28px;
  font-size: 3vw;
  cursor: pointer;
  display: inline-block;
  }

.color {
  color: dodgerblue;
  background-color: inherit;
  }

.color:hover {
  background: #2EC4B6;
  color: white;
  }

.spend {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  float: left;

}
.spend:hover {
  background: #E71D36;


}

.spend_main {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;


}
.spend_main:hover {
  background: #E71D36;


}


.info {
 font-family: monospace;
 font-size: 2vw;
 width: 50%


}
