body {

background-color: #EFFFE9; /* hsl(205, 51%, 72%); */

}

a {
  text-decoration: none;
}

header {

  background-color: #2EC4B6;
  text-align: center;

}


img {
  position: relative;
  float: left;
  width:  50%;
  height: 50%;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
}


h1 .spendid {



}

.total {
font-family: monospace;

}

ul  {

  list-style-type: none;



}


/*

img {
 height: auto;
 width: 10%;
} */
