table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    font-family: monospace;

}



table .merchant img {
  width: 5vw;


}

table td {
    border: 1px solid #ccc;
    font-size: 2vw;
}




table .tag {
  width: 20%;
  font-size: large;

}


td a {

background-color: hsl(205, 51%, 92%);
border-radius: ;

}

td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;


}



th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #2EC4B6;
  color: #A59;


}
